{% extends "base.html" %}

{% block content %}

<article class="message">
    <div class="message-header">
        {{ current_user.name }}
    </div>
    <div class="message-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta nec nulla.
        Nullam gravida purus diam, et dictum felis venenatis efficitur. Aenean ac eleifend lacus, in mollis lectus.
    </div>
</article>

<a href="{{ url_for('main.notInChat') }}">
    <button class="button">
        Quit
    </button>

{% endblock %}
