
{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Connect2Me
</h1>
<h2 class="subtitle">
  Meet new people easily
</h2>

{% if current_user.is_authenticated %}

<h3 class="subtitle">
  Welcome {{ current_user.name }}!
</h3>

{% endif %}

{% if current_user.is_authenticated and not(session['inChat']) %}
<a href="{{ url_for('main.waiting') }}">
  <button class="button">
      New Chat!
  </button>
</a>
{% endif %}

{% if current_user.is_authenticated and session['inChat'] %}
<a href="{{ url_for('main.chat') }}">
  <button class="button">
      Continue Chat!
  </button>
</a>
{% endif %}

{% endblock %}

